* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: black;
  position: sticky;
  top: 0;
  
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 100%;
 
  
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #03d9f5;

}

.menu-container {
  flex: 6;
}

.menu-list {
  
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
  cursor: pointer;

}

.menu-list-item.active {
  font-weight: bold;
  cursor: pointer;

}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: rgb(0, 195, 255);
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease all;
  
}.title1{

  color: rgb(253, 253, 253);
  background-color: rgb(0, 0, 0);
  width: 700px;
  height: 400px;
  padding: 0 10px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 15px;
  opacity: 1;
  outline: none;
  border: none;
  margin-top: 60px;


}

.title{
  background-color: rgb(0, 0, 0);
  max-width: fit-content;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.70;
  transition: 1s all ease-in-out;
  outline: none;
  border: none;
}
 

.container {
  background-color: #030000;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 40px;
}

.featured-content {
  height: 60vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  background-color: rgb(0, 0, 0);
  max-width: fit-content;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0.50;
  transition: 1s all ease-in-out;
  outline: none;
  border: none;
  width: 400px;
  color: rgb(255, 255, 255);
  margin: 30px 0;
}

.featured-button {
  background-color: #0088f7;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;

}
.mother-movie-list-container{
  padding: 0 10px;
  padding-top: 100px;

  
}
.mo-list{
  padding-top: 50px;


}
.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}
.movie-list-title{
  padding-top: 50px;

}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}


.movie-list-item {
  margin-right: 40px;
  position: relative;
}
 
/* this part of css is add the hover  animation to the movie */

/*2*/

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

 


/* this part of css contact the title and desc and button to item list */

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}



.movie-list-item-img {
  transition: all 0.5s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.movie-list-item-title {
  background-color: rgb(0, 0, 0);
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1.5s all ease-in-out;
}
.movie-list-item-button {
  padding: 10px;
  background-color: #0088f7;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
  cursor: pointer;
  

}

.genra-container{
padding-top: 50px;

}
.genra-buttonlog{
  background-color: #0088f7;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 190px;
  height: 60px;
  flex: 6;
  font-size: 29px;
  margin-top: 25px;

  
}
.genra-button{
  background-color: #0088f7;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 40px;
  flex: 6;

  
}

.movie-player{
  padding-top: 50px;
  right: 1000px;

  
  align-items: center;
}

.arrow {
  font-size: 90px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.9;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}






#search{
  float:right;
}
.textinput{
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  border:1px solid #03d9f5; border-right:0px;
  border-radius: 30px;
}
.button-search {
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #03d9f5; border-right:0px;
  background: #03d9f5;
  border-radius: 30px;
}



.textinputlog{
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  border:1px solid #03d9f5; border-right:0px;
  border-radius: 30px;
}


















footer {
  background-color: #007bff;
  color: #fff;
  padding: 2.5rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  font-size: 14px;
}

.footer-middle p {
  font-size: 16px;
  margin-bottom: 1rem;
}

.footer-middle ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-middle li {
  margin-bottom: 0.5rem;
}

.footer-middle i {
  margin-right: 0.5rem;
}

.footer-right p {
  font-size: 16px;
  margin-bottom: 1rem;
}

.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-right li {
  margin-right: 1rem;
}

.footer-right a {
  color: #fff;
  font-size: 24px;
}

.footer-right a:hover {
  color: #ddd;
}
.about-us {
  max-width: 1200px;
  margin: 1rem auto;
  text-align: left;
}

.about-us p {
  font-size: 14px;
  margin-bottom: 0;
}

.about-us a {
  color: #ffffff;
  text-decoration: none;
}

.about-us a:hover {
  color: #999;
  text-decoration: underline;}
























  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffffff;
    color: #fff;
    padding: 1rem;
  }
  
  
  
  main {
    max-width: 1200px;
   
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  .about-us {
    text-align: center;
    color: #ffffff;
  }
  
  .about-us h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .about-us img {
    border-radius: 50%;
    margin: 5rem;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .team-members li {
    margin: 1rem;
    text-align: center;
  }
  
  .team-members img {
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .team-members h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .team-members p {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 1rem;
  }
  
  .about-us h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-us p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  
    
